/* Heading / Title */
.title-text {
    -fx-text-fill: #ffffff;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-font-family: "Arial", sans-serif;
}
.form-label {
    -fx-text-fill: white;
    -fx-font-size: 15px;
    -fx-font-family: "Poppins";
}

/* Submit Button */
.button-submit {
    -fx-background-color: #1DB954;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-background-radius: 25px;
    -fx-padding: 8px 20px;
    -fx-cursor: hand;
}

.button-submit:hover {
    -fx-background-color: #1ED760;
}

/* Cancel Button */
.button-cancel {
    -fx-background-color: #ff4b5c;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-background-radius: 25px;
    -fx-padding: 8px 20px;
    -fx-cursor: hand;
}

.button-cancel:hover {
    -fx-background-color: #ff3b4a;
}
.body{
    -fx-background-color: black;
}
.error{
    -fx-text-fill: red;
    -fx-padding: 0px 0px 10px 0px;
    -fx-font-size: 15px;
    -fx-font-family: "Segoe UI";
}
.text-field {
    -fx-background-color: #1E1E1E;
    -fx-text-fill: white;
    -fx-border-color: #1DB954;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-padding: 6 10;
}
