/* Form body background */
.body {
    -fx-background-color: #121212;
}

/* Title */
.title-text {
    -fx-text-fill: white;
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-font-family: "Arial";
}

/* Labels */
.form-label {
    -fx-text-fill: white;
    -fx-font-size: 15px;
    -fx-font-family: "Poppins";
}

/* Hyperlink style  */
.hyperlink {
    -fx-text-fill: #1DB954;
    -fx-font-size: 14px;
}
.message {
    -fx-text-fill: grey;
    -fx-font-size: 14px;
}
/* Buttons already done */
.button-submit {
    -fx-background-color: #1DB954;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 15px;
    -fx-background-radius: 30px;
    -fx-padding: 10px 24px;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 6, 0, 0, 3);
    -fx-border-color: transparent;
    -fx-border-width: 0;
}

.button-submit:hover {
    -fx-background-color: #1ed760;
}

.button-cancel {
    -fx-background-color: #ff4b5c;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 15px;
    -fx-background-radius: 30px;
    -fx-padding: 10px 24px;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 6, 0, 0, 3);
    -fx-border-color: transparent;
}

.button-cancel:hover {
    -fx-background-color: #ff3b4a;
}

.error{
    -fx-text-fill: red;
    -fx-padding: 0px 0px 10px 0px;
    -fx-font-size: 15px;
    -fx-font-family: "Segoe UI";
}
.successfully{
-fx-text-fill: green;
    -fx-padding: 0px 0px 10px 0px;
    -fx-font-size: 15px;
    -fx-font-family: "Segoe UI";
}
.text-field {
    -fx-background-color: #1E1E1E;
    -fx-text-fill: white;
    -fx-border-color: #1DB954;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-padding: 6 10;
}

